.about-photo img{
  width:220px;
  height:220px;
  object-fit:cover;
  border-radius:50%;
  box-shadow:0 10px 25px rgba(0,0,0,0.15);

  opacity:0;
  transform:translateY(20px);
  animation:fadeInUp 1.2s ease forwards, float 4s ease-in-out infinite;
  animation-delay:0.2s;
}

/* fade in */
@keyframes fadeInUp{
  to{
    opacity:1;
    transform:translateY(0);
  }
}

/* float */
@keyframes float{
  0%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(-8px);
  }
  100%{
    transform:translateY(0px);
  }
}

/* SWIPE GALLERY */
.gallery-swipe{
  display:flex;
  overflow-x:auto;
  gap:10px;
  scroll-snap-type:x mandatory;
  -webkit-overflow-scrolling:touch;
  padding:10px;
}

.gallery-swipe::-webkit-scrollbar{
  display:none;
}

.gallery-swipe img{
  flex:0 0 100%;
  width:100%;
  height:300px;
  object-fit:cover;
  border-radius:15px;
  scroll-snap-align:center;
}
